* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	transition: 500ms all linear;
}

.box-container {
	width: 40%;
	height: 200px;
	background-color: rgb(30, 30, 30);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
}

h3 {
	color: white;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	font-size: 1.5rem;
}
